<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/stylesHome.css">

</head>

<body>
    <ul class="navbar">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/create">Create users</a></li>
    </ul>


    <div class="table-container">
        <table>
            <caption>Bảng Thông Tin Người Dùng</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Họ tên</th>
                    <th>Thành phố</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- <% for (let i = 0; i < listUser.length; i++) { 
                    %>
                        <tr>
                            <td><%= listUser[i].id  %></td>
                            <td><%= listUser[i].email %></td>
                            <td><%= listUser[i].name %></td>
                            <td><%= listUser[i].city %></td>
                            <td>
                                <button class="button">Edit</button>
                                <button class="button">Save</button>
                            </td>
                        </tr>
                    <%
                } %> -->

                <!-- Vòng lặp forEach cách 2 -->
                <% listUser.forEach(function(user) {
                    %> 
                       <tr>
                            <td><%= user.id %></td>
                            <td><%= user.email %></td>
                            <td><%= user.name %></td>
                            <td><%= user.city %></td>
                            <td>
                                <a  class="button" href="/update/<%= user.id %>">Edit</a>

                                <form action="/delete-user/<%= user.id %>" method="post">
                                    <button class="button">Delete</button>
                                </form>
                            </td>
                       </tr>
                    <%
                }) %>
            </tbody>
        </table>
    </div>
</body>

</html>